.new-project {
  display: flex;
  flex-flow: column;

  &.open {
    padding: 15vh 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: #FFF;
  }

  h2 {
    margin-bottom: 1rem;
    color: $color-main;
  }

  label {
    margin-bottom: .5rem;
  }

  input {
    color: $color-main;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgba(#999, .1);
  }

  &__dismiss-button {
    position: fixed;
    z-index: 2;
    top: 2vmin;
    left: 2vmin;
    padding: 5vmin;
    color: $color-main;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
  }

  &__next-button {
    position: fixed;
    z-index: 2;
    bottom: 2vmin;
    right: 2vmin;
    padding: 5vmin;
    color: $color-main;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .suggestions {
    margin-top: 3rem;

    &__list {
      margin-top: .5rem;
    }

    &__item {
      color: $color-main;
      padding: .5rem 0;
      opacity: .5;
      cursor: pointer;
      transition: all .1s linear;

      &.selected {
        opacity: 1;
      }
    }
  }
}
