.new-project {
  display: flex;
  flex-flow: column;

  img {
    object-fit: contain;
  }

  &.open {
    padding: 15vh 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: #FFF;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: $color-main;
    text-align: center;
  }

  label {
    margin-bottom: .5rem;
  }

  input {
    color: $color-main;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgba(#999, .1);
  }

  &__dismiss-button {
    position: fixed;
    z-index: 2;
    top: 2vmin;
    left: 2vmin;
    padding: 5vmin;
    color: $color-main;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__next-button {
    position: fixed;
    z-index: 2;
    bottom: 2vmin;
    right: 2vmin;
    padding: 5vmin;
    color: $color-main;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .suggestions {
    margin-top: 3rem;

    &__text {
      color: $color-main;
    }

    &__list {
      margin-top: .5rem;
    }

    &__item {
      color: $color-main;
      padding: .5rem 0;
      opacity: .5;
      cursor: pointer;
      transition: all .1s linear;

      &.selected {
        opacity: 1;
      }
    }
  }

  .frequency {
    display: flex;
    justify-content: space-between;
  }

  .help-text {
    text-align: center;
    max-width: 280px;
    margin: 3rem auto;

    &+.help-text {
      margin: -3rem auto 2rem auto;
    }

    .highlight {
      color: $color-main;
    }
  }

  .radio-label {
    transition: all .1s linear;
    padding: 1rem;
    color: $color-main;
    background-color: rgba(#999, .1);
    cursor: pointer;
    opacity: .5;

    &.selected {
      opacity: 1;
    }

    input {
      display: none;
    }
  }

  &__photo-button {
    background-color: $color-main;
    color: #fff;
    border-radius: 3px;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    margin: auto;
    border: none;
  }
}
