<section class="modal">
  <button class="modal__close-button"></button>
  <h2>STEP 1: Project Name</h2>
  <form class="" action="index.html" method="post">
    <label for="">What's the name of your project?</label>
    <input type="text" name="" value="" placeholder="my new cool project">
  </form>
  <section>
    <h3>or pick a suggestion below:</h3>
    <ul>
      <li>
        <button type="button" name="button">baby's first weeks</button>
      </li>
      <li>
        <button type="button" name="button">baby's first weeks</button>
      </li>
      <li>
        <button type="button" name="button">baby's first weeks</button>
      </li>
      <li>
        <button type="button" name="button">baby's first weeks</button>
      </li>
    </ul>
  </section>
  <button>next</button>
</section>
