.logo {
    background-image: url('../img/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 87px;
    margin: 30px auto;
    text-indent: 100%;
    overflow: hidden;
    width: 246px;
}

.project-list {
    display: flex;
    margin: 60px 0;
    width: 100%;
}

.project-item {
    margin: 0 auto;

    &__text {
        text-transform: uppercase;
        color: $color-main;
        font-size: 0.6rem;
    }

    &__name {
        color: #777;
        font-weight: normal;
        font-size: 1.4rem;
        margin: 5px 0;
    }

    &__button {
      margin: 1rem auto 0 auto;
      text-align: center;
      width: 100%;
    }
}

.project-images {
    display: flex;
    margin-top: 30px;

    &__item {
        width: 160px;

        &:nth-child(1) {
            margin: 40px 10px 40px 0;
            width: 80px;
        }

        &:nth-child(2) {
            margin: 20px -50px;
            width: 120px;
        }
    }

    &__image {
        width: 100%;
    }
}

.bottom-bar {
    background-color: #fff;
    box-shadow: 0px 1px 30px 2px rgba(2, 2 ,2 ,0.1);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 54px;
    left: 0;
    position: absolute;
    width: 100%;

    &__button {
        background: none;
        border: none;
        color: #777;
        font-size: 1rem;
        padding: 15px;

        input {
          display: none;
        }
    }
}
