*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
}

$color-main: #009379;
@import './components/new-project/new-project.scss';
@import './components/home/home.scss';
@import './components/step-counter/step-counter.scss';
